#Title {
    text-align: center;
}

#hangWord {
    position: absolute;
    left: 40px;
}

#allLetters {
    position: absolute;
    bottom: 360px;
    left: 830px;
    width: 345px;
}

#container {
    text-align: center;
}
